        
            
            <section id="home-content">
                <section class="homescreen-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mini-charts">
                                    <div class="row">
                                        
                                        <div class="col-md-12">
                                            <div class="mini-charts-item bgm-blue">
                                                <div class="clearfix">
                                                    <div class="chart stats-line"></div>
                                                    <div class="count">
                                                        <h2>300</h2>
                                                        <small>Total Deliveries</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="mini-charts-item bgm-teal">
                                                <div class="clearfix">
                                                    <div class="chart stats-line-2"></div>
                                                    <div class="count">
                                                        <h2>P 458,778</h2>
                                                        <small>Today's Sales</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 hide">
                                            <div class="mini-charts-item bgm-bluegray">
                                                <div class="clearfix">
                                                    <div class="chart stats-line-2"></div>
                                                    <div class="count">
                                                        <h2>23,856</h2>
                                                        <small>Customer Transactions</small>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="ksis-chart-head">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4>Current Sales Statistics</h4>
                                            <p>As of September 2015 for the past 30 days</p>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <ul class="actions ">
                                                <li class="dropdown">
                                                    <a href="" data-toggle="dropdown">
                                                        <i class="md md-more-vert"></i>
                                                    </a>
                                                    
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li>
                                                            <a href="">Refresh</a>
                                                        </li>
                                                        <li>
                                                            <a href="">Manage Widgets</a>
                                                        </li>
                                                        <li>
                                                            <a href="">Widgets Settings</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>

                                        </div>

                                    </div>
                                </div>
                                <div id="site-visits" class="dash-widget-item ">
                                    <div class="dash-widget-header">
                                        <div class="ksis-chart">
                                            <div class="dash-widget-visits"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </section>
                <div class="container">
                    <div class="block-header hide">
                        <h2>Dashboard</h2>
                        
                        <ul class="actions">
                            <li>
                                <a href="">
                                    <i class="md md-trending-up"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="md md-done-all"></i>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown">
                                    <i class="md md-more-vert"></i>
                                </a>
                                
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="">Refresh</a>
                                    </li>
                                    <li>
                                        <a href="">Manage Widgets</a>
                                    </li>
                                    <li>
                                        <a href="">Widgets Settings</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="card hide">
                        <div class="card-header">
                            <h2>Sales Statistics <small>Vestibulum purus quam scelerisque, mollis nonummy metus</small></h2>
                            
                            <ul class="actions">
                                <li>
                                    <a href="">
                                        <i class="md md-cached"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="md md-file-download"></i>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="" data-toggle="dropdown">
                                        <i class="md md-more-vert"></i>
                                    </a>
                                    
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="">Change Date Range</a>
                                        </li>
                                        <li>
                                            <a href="">Change Graph Type</a>
                                        </li>
                                        <li>
                                            <a href="">Other Settings</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="card-body">
                            <div class="chart-edge">
                                <div id="curved-line-chart" class="flot-chart "></div>
                            </div>
                        </div>
                    </div>
                    <div class="dash-widgets">
                        <div class="row">
                            <div class="col-md-4">
                                <div id="todo-lists" class="ksis-todo">
                                <div class="tl-header">
                                    <h2>Todo Lists</h2>
                                    <small>Add, edit and manage your Todo Lists</small>
                                    
                                    <ul class="actions actions-alt">
                                        <li class="dropdown">
                                            <a href="" data-toggle="dropdown">
                                                <i class="md md-more-vert"></i>
                                            </a>
                                            
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a href="">Refresh</a>
                                                </li>
                                                <li>
                                                    <a href="">Manage Widgets</a>
                                                </li>
                                                <li>
                                                    <a href="">Widgets Settings</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                    
                                <div class="clearfix"></div>
                                    
                                <div class="tl-body">
                                    <div id="add-tl-item" class="z-depth-1">
                                        <i class="add-new-item md md-add "></i>
                                        
                                        <div class="add-tl-body">
                                            <textarea placeholder="What you want to do..."></textarea>
                                            
                                            <div class="add-tl-actions">
                                                <a href="" data-tl-action="dismiss"><i class="md md-close"></i></a>
                                                <a href="" data-tl-action="save"><i class="md md-check"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="checkbox media">
                                        <div class="pull-right">
                                            <ul class="actions actions-alt">
                                                <li class="dropdown">
                                                    <a href="" data-toggle="dropdown">
                                                        <i class="md md-more-vert"></i>
                                                    </a>
                                                    
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="">Delete</a></li>
                                                        <li><a href="">Archive</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="media-body">
                                            <label>
                                                <input type="checkbox">
                                                <i class="input-helper"></i>
                                                <span>Purchase Supply</span>
                                            </label>
                                        </div>
                                    </div>
                                    
                                    <div class="checkbox media">
                                        <div class="pull-right">
                                            <ul class="actions actions-alt">
                                                <li class="dropdown">
                                                    <a href="" data-toggle="dropdown">
                                                        <i class="md md-more-vert"></i>
                                                    </a>
                                                    
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="">Delete</a></li>
                                                        <li><a href="">Archive</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="media-body">
                                            <label>
                                                <input type="checkbox">
                                                <i class="input-helper"></i>
                                                <span>In vel imperdiet leoorbi mollis leo sit amet quam fringilla varius mauris orci turpis</span>
                                            </label>
                                        </div>
                                    </div>
                                    
                                    <div class="checkbox media">
                                        <div class="pull-right">
                                            <ul class="actions actions-alt">
                                                <li class="dropdown">
                                                    <a href="" data-toggle="dropdown">
                                                        <i class="md md-more-vert"></i>
                                                    </a>
                                                    
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="">Delete</a></li>
                                                        <li><a href="">Archive</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="media-body">
                                            <label>
                                                <input type="checkbox">
                                                <i class="input-helper"></i>
                                                <span>Suspendisse quis sollicitudin erosvel dictum nunc</span>
                                            </label>
                                        </div>
                                    </div>
                                    
                                    <div class="checkbox media">
                                        <div class="pull-right">
                                            <ul class="actions actions-alt">
                                                <li class="dropdown">
                                                    <a href="" data-toggle="dropdown">
                                                        <i class="md md-more-vert"></i>
                                                    </a>
                                                    
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="">Delete</a></li>
                                                        <li><a href="">Archive</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="media-body">
                                            <label>
                                                <input type="checkbox">
                                                <i class="input-helper"></i>
                                                <span>Curabitur egestas finibus sapien quis faucibusras bibendum ut justo at sagittis. In hac habitasse platea dictumst</span>
                                            </label>
                                        </div>
                                    </div>
                                    
                                    <div class="checkbox media">
                                        <div class="pull-right">
                                            <ul class="actions actions-alt">
                                                <li class="dropdown">
                                                    <a href="" data-toggle="dropdown">
                                                        <i class="md md-more-vert"></i>
                                                    </a>
                                                    
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="">Delete</a></li>
                                                        <li><a href="">Archive</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="media-body">
                                            <label>
                                                <input type="checkbox">
                                                <i class="input-helper"></i>
                                                <span>Suspendisse potenti. Cras dolor augue, tincidunt sit amet lorem id, blandit rutrum libero</span>
                                            </label>
                                        </div>
                                    </div>
                                    
                                    <div class="checkbox media">
                                        <div class="pull-right">
                                            <ul class="actions actions-alt">
                                                <li class="dropdown">
                                                    <a href="" data-toggle="dropdown">
                                                        <i class="md md-more-vert"></i>
                                                    </a>
                                                    
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="">Delete</a></li>
                                                        <li><a href="">Archive</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="media-body">
                                            <label>
                                                <input type="checkbox">
                                                <i class="input-helper"></i>
                                                <span>Proin luctus dictum nisl id auctor. Nullam lobortis condimentum arcu sit amet gravida</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-8 "><!-- 
                                <div class="ksis-rt">
                                     <div class="ksis-chart-head bg-lb">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h4>Recent Items</h4>
                                                <p>New 30 items added</p>
                                            </div>
                                            <div class="col-md-6 text-right">
                                                <ul class="actions ">
                                                    <li class="dropdown">
                                                        <a href="" data-toggle="dropdown">
                                                            <i class="md md-more-vert"></i>
                                                        </a>
                                                        
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li>
                                                                <a href="">Refresh</a>
                                                            </li>
                                                            <li>
                                                                <a href="">Manage Widgets</a>
                                                            </li>
                                                            <li>
                                                                <a href="">Widgets Settings</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body m-t-0">
                                    <table class="table table-inner table-vmiddle">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Quantity
                                                <th style="width: 60px">Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="f-500 c-blue">2569</td>
                                                <td>Latex Paint</td>
                                                <td>200</td>
                                                <td class="f-500 c-blue">P521</td>
                                            </tr>
                                            <tr>
                                                <td class="f-500 c-blue">9658</td>
                                                <td>Steel Bar</td>
                                                <td>150</td>
                                                <td class="f-500 c-blue">P440</td>
                                            </tr>
                                            <tr>
                                                <td class="f-500 c-blue">1101</td>
                                                <td>Corrugated Roof</td>
                                                <td>200</td>
                                                <td class="f-500 c-blue">P680</td>
                                            </tr>
                                            <tr>
                                                <td class="f-500 c-blue">6598</td>
                                                <td>Pin Lights</td>
                                                <td>750</td>
                                                <td class="f-500 c-blue">P870</td>
                                            </tr>
                                            <tr>
                                                <td class="f-500 c-blue">4562</td>
                                                <td>PVC Pipe</td>
                                                <td>250</td>
                                                <td class="f-500 c-blue">P690</td>
                                            </tr>
                                            <tr>
                                                <td class="f-500 c-blue">2569</td>
                                                <td>Latex Paint</td>
                                                <td>200</td>
                                                <td class="f-500 c-blue">P521</td>
                                            </tr>
                                            <tr>
                                                <td class="f-500 c-blue">9658</td>
                                                <td>Steel Bar</td>
                                                <td>150</td>
                                                <td class="f-500 c-blue">P440</td>
                                            </tr>
                                            <tr>
                                                <td class="f-500 c-blue">1101</td>
                                                <td>Corrugated Roof</td>
                                                <td>200</td>
                                                <td class="f-500 c-blue">P680</td>
                                            </tr>
                                            <tr>
                                                <td class="f-500 c-blue">6598</td>
                                                <td>Pin Lights</td>
                                                <td>750</td>
                                                <td class="f-500 c-blue">P870</td>
                                            </tr>
                                            <tr>
                                                <td class="f-500 c-blue">4562</td>
                                                <td>PVC Pipe</td>
                                                <td>250</td>
                                                <td class="f-500 c-blue">P690</td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" class="text-center f-500 c-blue"><a href="#">View more</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                </div> --> 
                                <div class="hs-item hs-item-head">
                                    <div class="row ">
                                        <div class="col-xs-11 ">
                                            <div class="row ">
                                                <div class="col-xs-7 hs-item-name">
                                                     Recent Transactions
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hs-item">
                                    <div class="row">
                                        <div class="col-xs-11">
                                            <a href="#" >
                                                <div class="row">

                                                    <div class="col-xs-7 hs-item-name">
                                                        <span class="hs-item-mode hs-item-mode-delivered"></span>Madam Mercy <small>Credit</small>
                                                    </div>
                                                    <div class='col-xs-3 hs-item-staff'>
                                                        Mr. Kristian
                                                    </div>

                                                    <div class="col-xs-2 hs-item-date">
                                                        Aug 21, 2015
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xs-1 hs-item-actions">
                                            <div class="lv-actions actions dropdown">
                                                <a href="" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="md md-more-vert"></i>
                                                </a>
                                    
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a href="#">Edit</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">View</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hs-item">
                                    <div class="row">
                                        <div class="col-xs-11">
                                            <a href="#" >
                                                <div class="row">

                                                    <div class="col-xs-7 hs-item-name">
                                                        <span class="hs-item-mode hs-item-mode-delivery"></span>Sir. Tom <small>Paid</small>
                                                    </div>
                                                    <div class='col-xs-3 hs-item-staff'>
                                                        Mr. Kristian
                                                    </div>

                                                    <div class="col-xs-2 hs-item-date">
                                                        Aug 30, 2015
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xs-1 hs-item-actions">
                                            <div class="lv-actions actions dropdown">
                                                <a href="" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="md md-more-vert"></i>
                                                </a>
                                    
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a href="#">Edit</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">View</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hs-item">
                                    <div class="row">
                                        <div class="col-xs-11">
                                            <a href="#" >
                                                <div class="row">

                                                    <div class="col-xs-7 hs-item-name">
                                                        <span class="hs-item-mode hs-item-mode-pickup"></span>Ms. Chloe <small>Credit</small>
                                                    </div>
                                                    <div class='col-xs-3 hs-item-staff'>
                                                        Joan
                                                    </div>

                                                    <div class="col-xs-2 hs-item-date">
                                                        Aug 31, 2015
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xs-1 hs-item-actions">
                                            <div class="lv-actions actions dropdown">
                                                <a href="" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="md md-more-vert"></i>
                                                </a>
                                    
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a href="#">Edit</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">View</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hs-item">
                                    <div class="row">
                                        <div class="col-xs-11">
                                            <a href="#" >
                                                <div class="row">

                                                    <div class="col-xs-7 hs-item-name">
                                                        <span class="hs-item-mode hs-item-mode-paid"></span>Bartholome <small>Paid</small>
                                                    </div>
                                                    <div class='col-xs-3 hs-item-staff'>
                                                        Joan
                                                    </div>

                                                    <div class="col-xs-2 hs-item-date">
                                                        Sep 2, 2015
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xs-1 hs-item-actions">
                                            <div class="lv-actions actions dropdown">
                                                <a href="" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="md md-more-vert"></i>
                                                </a>
                                    
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a href="#">Edit</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">View</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hs-item">
                                    <div class="row">
                                        <div class="col-xs-11">
                                            <a href="#" >
                                                <div class="row">

                                                    <div class="col-xs-7 hs-item-name">
                                                        <span class="hs-item-mode hs-item-mode-delivered"></span>Madam Mercy <small>Credit</small>
                                                    </div>
                                                    <div class='col-xs-3 hs-item-staff'>
                                                        Mr. Kristian
                                                    </div>

                                                    <div class="col-xs-2 hs-item-date">
                                                        Aug 21, 2015
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xs-1 hs-item-actions">
                                            <div class="lv-actions actions dropdown">
                                                <a href="" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="md md-more-vert"></i>
                                                </a>
                                    
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a href="#">Edit</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">View</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hs-item">
                                    <div class="row">
                                        <div class="col-xs-11">
                                            <a href="#" >
                                                <div class="row">

                                                    <div class="col-xs-7 hs-item-name">
                                                        <span class="hs-item-mode hs-item-mode-delivery"></span>Sir. Tom <small>Paid</small>
                                                    </div>
                                                    <div class='col-xs-3 hs-item-staff'>
                                                        Mr. Kristian
                                                    </div>

                                                    <div class="col-xs-2 hs-item-date">
                                                        Aug 30, 2015
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xs-1 hs-item-actions">
                                            <div class="lv-actions actions dropdown">
                                                <a href="" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="md md-more-vert"></i>
                                                </a>
                                    
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a href="#">Edit</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">View</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hs-item">
                                    <div class="row">
                                        <div class="col-xs-11">
                                            <a href="#" >
                                                <div class="row">

                                                    <div class="col-xs-7 hs-item-name">
                                                        <span class="hs-item-mode hs-item-mode-pickup"></span>Ms. Chloe <small>Credit</small>
                                                    </div>
                                                    <div class='col-xs-3 hs-item-staff'>
                                                        Joan
                                                    </div>

                                                    <div class="col-xs-2 hs-item-date">
                                                        Aug 31, 2015
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xs-1 hs-item-actions">
                                            <div class="lv-actions actions dropdown">
                                                <a href="" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="md md-more-vert"></i>
                                                </a>
                                    
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a href="#">Edit</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">View</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hs-item">
                                    <div class="row">
                                        <div class="col-xs-11">
                                            <a href="#" >
                                                <div class="row">

                                                    <div class="col-xs-7 hs-item-name">
                                                        <span class="hs-item-mode hs-item-mode-paid"></span>Bartholome <small>Paid</small>
                                                    </div>
                                                    <div class='col-xs-3 hs-item-staff'>
                                                        Joan
                                                    </div>

                                                    <div class="col-xs-2 hs-item-date">
                                                        Sep 2, 2015
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xs-1 hs-item-actions">
                                            <div class="lv-actions actions dropdown">
                                                <a href="" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="md md-more-vert"></i>
                                                </a>
                                    
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a href="#">Edit</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">View</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        
        <footer id="footer" class="hide">
            Copyright &copy; 2015 Material Admin
            
            <ul class="f-menu">
                <li><a href="">Home</a></li>
                <li><a href="">Dashboard</a></li>
                <li><a href="">Reports</a></li>
                <li><a href="">Support</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </footer>
        <a id="sale-btn" href="@Url.Action("Index", "Sales")" class="btn btn-danger btn-icon waves-effect waves-circle waves-float"><i class="md  md-shopping-cart"></i></a>
        <!-- Modal Large -->    
        <!-- Older IE warning message -->
        <!--[if lt IE 9]>
            <div class="ie-warning">
                <h1 class="c-white">Warning!!</h1>
                <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
                <div class="iew-container">
                    <ul class="iew-download">
                        <li>
                            <a href="http://www.google.com/chrome/">
                                <img src="img/browsers/chrome.png" alt="">
                                <div>Chrome</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/en-US/firefox/new/">
                                <img src="img/browsers/firefox.png" alt="">
                                <div>Firefox</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.opera.com">
                                <img src="img/browsers/opera.png" alt="">
                                <div>Opera</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.apple.com/safari/">
                                <img src="img/browsers/safari.png" alt="">
                                <div>Safari</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                                <img src="img/browsers/ie.png" alt="">
                                <div>IE (New)</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Sorry for the inconvenience!</p>
            </div>   
        <![endif]-->
       